/**
 * MortgageProgramCreditConditions styles
 *
 * @ver 0.0.0
 * @author a.d.permin@72.etagi.com
 */

@import '../variables.scss';

.cell6850 {
  height: 6.8rem;
  width: 50%;
}

.cell6840 {
  height: 6.8rem;
  width: 40%;
}

.cell34 {
  height: 3.4rem;
  background-color: $gray-100;
}
