@import '../variables.scss';

.tableData {
  th,
  td {
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  &__greenTextPercent {
    color: color($green-300 lightness(-15%));
  }

  &__redTextPercent {
    color: $red-600;
  }
}
