//mixin button create
@import 'variables.scss';

@define-mixin btn $bg: $green-base, $hover: $green-dark, $color: $white-base, $colorHover: $white-base,
  $borderRadius: 0.1875rem, $animateDuration: 0.15s, $animate: linear {
  background: $bg;
  border-radius: $borderRadius;
  color: $color;
  transition: all $animateDuration $animate;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1rem;
  border: solid 0.1rem transparent;
  white-space: nowrap;

  &:hover,
  &:focus,
  &.focus {
    background: $hover;
    color: $colorHover;
  }

  &[disabled=disabled] {
    opacity: 0.3;
  }
}

@define-mixin ghostBtn $bgColor: transparent, $hover: $green-dark, $color: $black, $colorHover: $white-base,
  $borderRadius: 0.3125rem, $animateDuration: 0.15s, $animate: linear, $borderColor: $green-dark {
  background: $bgColor;
  border-radius: $borderRadius;
  color: $color;
  transition: all 0.15s $animate;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1rem;
  border: solid 0.1rem $borderColor;
  white-space: nowrap;

  &:hover,
  &:focus,
  &.focus {
    background: $hover;
    color: $white-base;
  }

  &[disabled=disabled] {
    border: none;
    color: $gray-600;
  }
}
