.banksModuleFilterWrapper label.input-label {
  font-weight: normal !important;
  display: flex !important;
  text-align: left;
  font-size: 14px;
  position: absolute;
  top: -22px;
}

.banksModuleFilterWrapper p {
  position: absolute;
  top: -22px;
  font-weight: bold;
}

#banksModuleFilterWrapper2 {

  .btn-default {
    background: #f5f5f5;
    border-radius: 0;
    border-color: #f5f5f5;
    transition: all .3s ease-in-out;
    margin-top: -2px;
    &:hover {
      background: #9b9b9b;
      border-color: #9b9b9b;
      color: #fff;
      transition: all .3s ease-in-out;
    }
  }
}

.bankPageSwitcher .btn:first-child {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  text-decoration: underline;

  &:hover, &:focus, &:active {
    outline: none;
  }
}

.bankPageSwitcher .btn:last-child {
  display: none;
}

.bankPageSwitcher2 .btn:last-child {
  display: none;
}

.clearstore--wrap {
  position: absolute;
  top: 12px;
  left: 30%;
}

.clearParams {
  color: #000;
  text-decoration: underline;

  .fa {
    width: 19px;
    height: 19px;
    color: #ef8886;
  }
}

.agregator-remark {
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 6px;
}

img.bankLogo {
  width: 200px;
}

.bankrating--wrap {
  padding-top: 15px;

  .ratingWrapper-star {
    width: 86px;
    height: 16px;
    margin: 0;
    background: url('https://cdn-media.etagi.com/static/site/c/c1/c1692d732f500fd23e2d646bfb8ffdb0ff542918.png') no-repeat bottom left;
  }

  .ratingWrapper-starActive {
    background: url('https://cdn-media.etagi.com/static/site/c/c1/c1692d732f500fd23e2d646bfb8ffdb0ff542918.png') no-repeat top left;
  }
}

.bankBannerWrapper img {
  width: 100%;
}