.balloon-address {
    color: #999999;
}

.mainMap {
  display: inline;
}

.infrastructure-menu {
    display: none;
    position: absolute;
    right: 1.5rem;
    top: 20rem;
    z-index: 2;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -webkit-box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);

    .infrastructure-header {
        margin-bottom: -0.4rem;

        .infrastructure-title {
            display: inline-block;
            height: 4rem;
            line-height: 4rem;
            padding: 0 9rem 0 2rem;
            vertical-align: top;
            background: #ececec;
            margin-right: 0.1rem;
        }

        .infrastructure-turn {
            display: inline-block;
            width: 4rem;
            height: 4rem;
            background: #ececec url('https://cdn-media.etagi.com/static/site/4/4c/4c43bbc5643deac9e23f32f8990300be79297657.png') no-repeat center;
            cursor: pointer;
        }

        .infrastructure-turn.turned {
            background: #ececec url('https://cdn-media.etagi.com/static/site/2/23/23bc6e492ec31f08111335e853ed875634fc3ff3.png') no-repeat center;
        }
    }

    .infrastructure-list {
        div {
            border-bottom: 0.1rem solid #ececec;
            padding: 0.8rem 0 1rem 2rem;
            cursor: pointer;

            &:hover {
                background-color: #ececec;
            }
        }

        div.turned {
            padding: 0.8rem 0 1rem 1rem;
        }

        a {
            text-decoration: none;
            color: #333;
        }

        .infrastructure-icon {
            width: 2rem;
            height: 2rem;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 1rem;
        }

        .infrastructure-icon.turned {
            margin-right: 0;
        }

        .title {
            color: #999999;

            .hospital {
                background: url('https://cdn-media.etagi.com/static/site/c/cd/cd43e8a8ec02bb3384d5b9ecc76e1d1770808b45.png') no-repeat center;
            }

            .gymnasium {
                background: url('https://cdn-media.etagi.com/static/site/1/10/104481dd1efe19d58ab03f4f46ce38926f20fdac.png') no-repeat center;
            }

            .shopping {
                background: url('https://cdn-media.etagi.com/static/site/7/70/705c1f60e596bbfc8d27eecddf831843df3c572a.png') no-repeat center;
            }

            .fitness {
                background: url('https://cdn-media.etagi.com/static/site/5/50/503b95a4351937f076e04fb85f861474b8dac743.png') no-repeat center;
            }

            .bank {
                background: url('https://cdn-media.etagi.com/static/site/8/80/80beb1912d5d21f6d055185ca6638f4c742467d5.png') no-repeat center;
            }

            .kinder {
                background: url('https://cdn-media.etagi.com/static/site/5/55/554f31fd1f31e53971b139ec6fa3da95a0439ca8.png') no-repeat center;
            }
        }

        div.active .title {
            color: #333;
            font-weight: bold;

            .hospital {
                background: url('https://cdn-media.etagi.com/static/site/6/69/695b83186a2a51f7cde58109d168541887cf9b48.png') no-repeat center;
            }

            .gymnasium {
                background: url('https://cdn-media.etagi.com/static/site/f/f2/f2b5160d0f9f3e856036defc16b0b9a1437907e2.png') no-repeat center;
            }

            .shopping {
                background: url('https://cdn-media.etagi.com/static/site/6/6e/6e5f39af80ad6a9ccc7efc8398f59bdff982c1ed.png') no-repeat center;
            }

            .fitness {
                background: url('https://cdn-media.etagi.com/static/site/2/2d/2d9e878b623473ea718e51ec9210c4ac7041a5f8.png') no-repeat center;
            }

            .bank {
                background: url('https://cdn-media.etagi.com/static/site/2/28/28693e9f0177a8ef5669a580539242e276f5f782.png') no-repeat center;
            }

            .kinder {
                background: url('https://cdn-media.etagi.com/static/site/9/9f/9fcc413e7037a86dc6a1bbda4fe4e44924146586.png') no-repeat center;
            }

            .infrastructure-check {
                width: 1.1rem;
                height: 0.8rem;
                float: right;
                margin: 0.5rem 1.5rem 0 0;
                background: url('https://cdn-media.etagi.com/static/site/3/30/308b42dc9960eee092a6a73151cf2c4de8e784dc.png') no-repeat center;
            }

            .infrastructure-check.turned {
                display: none;
            }
        }
    }
}
