@import '../variables.scss';

.modalIcon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.1rem solid $green-600;
  background: $white-base;
  color: $green-600;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  margin: 2rem auto 1rem;
  float: left;
}

.formWrap {
  h3 {
    font-size: 1.6rem;
    color: color(black lightness(+13%));
    font-weight: bold;
    float: left;
    line-height: 4rem;
    margin-left: 2rem;
  }
}
