@import '../variables.scss';

:global(.icon_arrow) {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border: 0.1rem solid $gray-600 !important;
}

:global(.checkbox_arrow:hover .icon_arrow) {
  border: 0.1rem solid $gray-600 !important;
}

:global(.input_arrow:checked+label .icon_arrow) {
  background: $white-base url('https://cdn-media.etagi.com/static/site/c/ce/ce22fa2ce961ad8165e714d7299d1a5c21781fa9.png') no-repeat center !important;
}

.checkMortgage {
  width: 3rem;
  padding-left: 2rem;
}

.mortgageItem {
  //display: flex;
  //justify-content: space-around;
  //align-items: center;
  height: 5.4rem;
  padding: 1rem 0;
  border-bottom: 0.1rem solid $gray-300;

  &:hover {
    background-color: $green-50;

    .monthPaymentCompany {
      background-color: $green-50;
    }

    .greenPercentWrapper {
      background-color: $green-300;
      color: $white-base;
    }
  }
}

.programTitleWrapper {
  width: 90rem;
  padding-left: 1.4rem !important;

  .programTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 6.4rem;
    width: 82rem;

    a {
      color: #333;
    }
  }

  .dateUpdate {
    color: $gray-600;
    font-size: 1.2rem;
  }
}

.percent {
  text-align: center;
}

.percent {
  width: 12rem;
}

.greenPercentWrapper {
  font-weight: bold;
  color: $green-600;
  background: $green-50;
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
}

.toggleInfo {
  width: 10rem;

  a {
    color: $blue-600;
  }
}

.mortgageItemWrapper {
  opacity: 1;
  background-color: $white-base;
  transition: all 0.5s ease-in-out;
}

.mortgageItemWrapperHidden {
  display: block !important;
  opacity: 0;
  background-color: rgba(255, 220, 43, 1);
  transition: all 0.5s ease-in-out;
}
